# ---------------------------------------
#   Node
# ---------------------------------------
node_modules/
*.log
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# ---------------------------------------
#   React Native & Metro
# ---------------------------------------
# Packager logs
*.metro-cache/
*.lock
.expo/
dist/
build/
.coverage/
*.tmp

# ---------------------------------------
#   iOS
# ---------------------------------------
ios/Pods/
ios/Pods.build/
ios/*.xcworkspace
ios/*/build/
ios/DerivedData/
ios/build/
ios/Podfile.lock

# Xcode files
*.xcuserdatad/
*.xcscmblueprint
*.xcodeproj/*.pbxuser
*.xcodeproj/*.xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Generated Plists
ios/ExpoKitApp.xcworkspace/
ios/ExpoKitApp/

# ---------------------------------------
#   Android
# ---------------------------------------
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/*/build/
android/app/*.iml
android/app/*.keystore
android/gradle.properties
android/local.properties
android/app/proguard-rules.pro

# Gradle
.gradle/
!gradle-wrapper.jar
gradle-app.setting
gradlew
gradlew.bat

# ---------------------------------------
#   OS specike
# ---------------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# ---------------------------------------
#   VSCode & Editor configs
# ---------------------------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------------------------
#   Misc
# ---------------------------------------
.env
*.sample.env

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

expo-env.d.ts
# @end expo-cli